#page {
  background: #f6f6f6;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.circle {
  display: block;
  width: 15px;
  height: 15px;
  background: red;
  position: absolute;
  border-radius: 50%;
}